body {
    overflow: hidden;
    background-color: #000;
    margin: 0px;
    color: #ccc;
    font-family: sans-serif;
}
#toolbar {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 10;
    padding: 5px;
    color: #000;
}
#toolbar > div{
    float: right;
}
#statusbar > div {
    float: right;
    border-left: 1px solid #ccc;
    text-align: center;
}
#statusbar {
    position: fixed;
    bottom: 5px;
    right: 0px;
    font-size: 12px;
    z-index: 11;
    width: 99%;
    text-shadow: 1px 1px 2px #222, -1px 1px 2px #222, 1px -1px 2px #222, -1px -1px 2px #222;
    -webkit-user-select: none;
    -moz-user-select: none;
}
#label_fps:before {
    content: "fps: ";
}
#label_gen:before {
    content: "gen: ";
}
#label_pop:before {
    content: "pop: ";
}
#label_fps {
    padding: 0px 25px;
}
#label_gen, #label_pop, #label_mou, #label_zoom {
    padding: 0px 10px;
}
.button, .menu > div {
    background-color: #ccc;
    padding: 0px 10px;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 7px;
    box-shadow: 2px 2px 2px #222;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.menu > div:first-child {
    cursor: default;
}
.menu {
    overflow: hidden;
    height: 20px;
}
.menu:hover {
    height: auto;
    padding-bottom: 50px;
}
#overlay {
    background-color: #000;
    position: absolute;
    width: 500px;
    top: 80px;
    left: 50%;
    margin-left: -300px; 
    border: 2px solid #444;
    border-radius: 15px;
    padding: 50px;
    font-size: 12px;
    color: #ddd;
    z-index: 10;
    line-height: 1.4;
}
#pattern_name {
    cursor: pointer;
}
.button2 {
    border: 1px solid #fff;
    cursor: pointer;
    padding: 5px 20px;
    margin: 0px 20px;
}
.button2:hover {
    background-color: #123;
}
#import_text {
    background-color: #000;
    border: 1px solid #fff;
    display: block;
    width: 450px;
    height: 200px;
    color: #fff;
}
#loading {
    font-family: monospace;
    text-align: center;
    font-size: 36px;
}
input {
    border: 1px solid #fff;
    color: #fff;
    background-color: #000;
    padding: 2px;
    width: 110px;
    text-align: center;
}
a, .link {
    color: #ff0;
    padding: 0px 1px;
    cursor: pointer;
    text-decoration: none;
}
a:hover, .link:hover {
    text-decoration: underline;
}
#pattern_description {
    white-space: pre-wrap;
}
#alert_text {
    max-height: 300px;
    overflow: auto;
}
canvas {
    line-height: 1;
}
#pattern_link {
    background-color: #333;
    color: #fff;
    padding: 4px 10px;
    font-family: monospace;
}
#pattern_chooser > div {
    height: 500px;
}
#pattern_chooser > div > div {
    padding: 3px;
    float: left;
    width: 225px;
    cursor: pointer;
}
#pattern_chooser > div > div:hover {
    color: #000;
    background-color: #ff0;
}
#pattern_chooser span.size {
    color: #999;
    font-size: 80%;
    margin-left: 7px;
}
#pattern_list {
    overflow-x: hidden;
}
br.clear {
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}
