body {
    background-color: #000;
    margin: 0px;
    color: #ccc;
    font-family: sans-serif;
    height: 100%;
    overflow: hidden;
}
html {
    height: 100%;
    margin: 0px;
}
#toolbar {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 10;
    color: #000;
    width: 100%;
    height: 0;
    overflow: visible;
}
#toolbar > div {
    float: right;
}
#statusbar > div {
    float: right;
    border-left: 1px solid #ccc;
    text-align: center;
}
#controls {
    padding: 5px;
}
#controls td div {
    background-color: #ccc;
    width: 18px;
    height: 18px;
    margin: 2px 1px;
    font-weight: bold;
    text-align: center;

    cursor: pointer;
    box-shadow: 2px 2px 3px #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    font-size: 80%;
    line-height: 150%;
}
#statusbar {
    position: fixed;
    bottom: 25px;
    height: 0;
    right: 0px;
    font-size: 13px;
    z-index: 11;
    width: 99%;
    text-shadow: 0px 0px 1px #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
}
#label_step:before {
    content: "Step: ";
}
#label_fps:before {
    content: "FPS: ";
}
#label_gen:before {
    content: "Gen: ";
}
#label_pop:before {
    content: "Pop: ";
}
#label_gen, #label_pop, #label_mou, #label_zoom, #label_step, #label_fps {
    padding: 0px 1vw;
}
.button, .menu {
    margin-top: 5px;
}
.button, .menu > div {
    background-color: #ccc;
    cursor: pointer;
    padding: 0px 0.5vw;
    margin-right: 1vw;
    margin-bottom: 7px;
    box-shadow: 2px 2px 3px #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
}
/*
.menu {
    overflow: hidden;
    height: 20px;
}
.menu:hover {
    height: auto;
    padding-bottom: 50px;
}
*/
#overlay {
    background-color: #000;
    position: absolute;
    top: 50px;
    padding: 20px 5px 50px;
    font-size: 13px;
    color: #ddd;
    z-index: 10;
    line-height: 1.4;
    border-style: solid;
    border-color: #444;
    border-width: 2px 0px;
    width: 100%;
}
@media (min-width: 850px) {
    #overlay {
        border-width: 2px;
        border-radius: 15px;
        left: 50%;
        margin-left: -400px;
        width: 700px;
        padding: 50px;
    }
}
@media (max-width: 800px) {
    #label_mou {
        display: none;
    }
    .button {
        padding: 0px 4px;
    }
    .not_on_small_screen {
        display: none;
    }
}
#pattern_name {
    cursor: pointer;
}
.button2 {
    border: 1px solid #fff;
    cursor: pointer;
    padding: 5px 20px;
    margin: 0px 20px;
}
.button2:hover {
    background-color: #123;
}
#import_text {
    background-color: #000;
    border: 1px solid #fff;
    display: block;
    width: 100%;
    height: 200px;
    color: #fff;
}
#loading {
    font-family: monospace;
    text-align: center;
    font-size: 36px;
}
input[type=number], input[type=text] {
    border: 1px solid #fff;
    color: #fff;
    background-color: #000;
    padding: 2px;
    width: 110px;
    text-align: center;
}
a, .link {
    color: #ff0;
    padding: 0px 1px;
    cursor: pointer;
    text-decoration: none;
}
a:hover, .link:hover {
    text-decoration: underline;
}
#pattern_description {
    white-space: pre-wrap;
}
#alert_text {
    max-height: 300px;
    overflow: auto;
}
canvas {
    position: absolute;
}
#pattern_chooser > div {
    height: 500px;
}
#pattern_chooser > div > div {
    padding: 3px;
    float: left;
    width: 215px;
    cursor: pointer;
}
#pattern_chooser > div > div:hover {
    color: #000;
    background-color: #ff0;
}
#pattern_chooser span.size {
    color: #999;
    font-size: 80%;
    margin-left: 7px;
}
#pattern_list {
    overflow-x: hidden;
}
br.clear {
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}
#overlay h2 {
    margin-top: 0;
}
#pattern_file_container, #pattern_link_container, #pattern_urls {
    overflow: hidden;
    text-overflow: ellipsis;
}
